.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
    margin
}
.carousel-item{
    padding-left: 250px;
}
.price{
    color: #FF136F;
}
.buynow{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 5px;
}
.cat-1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: whitesmoke;
}
.categories img{
    width: 100px;
}
.bg{
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}